@model IEnumerable<CinemaTicketBooking.Entities.AspNetUsers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Users</h2>

<p>
    <a role="button" class="btn btn-success" asp-action="Create">Add new cinema admin</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                User Name
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUserRoles.Where(r=>r.UserId == item.Id).FirstOrDefault().Role.Name)
            </td>
            <td>
                <a role="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
