@model CinemaTicketBooking.Models.SuperAdminViewModels.CinemaViewModel

@{
    ViewData["Title"] = "My Cinema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">

        <div class="row" style="margin-top:20px;">
            <div class="col-lg-8">
                <img class="img-responsive img-rounded" src="@Url.Content("~/images/"+Model.CinemaProfilePicture)">
                <!-- take out img-rounded if you don't want the rounded corners on the image -->
            </div>
            <div class="col-lg-4">
                <h1>@Html.DisplayFor(model => model.CinemaName)</h1>
                <p>@Html.DisplayFor(model => model.CinemaDescription)</p>
                <a role="button" class="btn-block btn btn-success" asp-action="Add">Add new movie</a>
                <a role="button" class="btn-block btn btn-warning" asp-action="Edit" asp-route-id="@Model.CinemaId">Edit cinema details</a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Check out the newest movies in our cinema!
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                @foreach (var item in ViewBag.ListOfMovies)
                {
                    <div class="col-md-3" style="padding-top: 10px;">
                        <div class="card" style="border:1px solid; border-color: #4286f4;">
                            <div class="card-block text-center" style="padding: 10px;">
                                <img width="200" height="242" class="card-img-top" src="@Url.Content("~/images/"+item.ImageNavigation.ImagePath)" alt="Card image cap">
                                <h4 class="card-title"><a asp-controller="Movies" asp-action="MovieProfile" asp-route-id="@item.MovieId"><h3>@item.MovieName</h3></a></h4>
                                <p class="card-text">@item.MovieDescription</p>
                                <p><a asp-controller="Movies" asp-action="MovieProfile" asp-route-id="@item.MovieId" class="btn btn-block btn-primary" role="button">Book now</a></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <script src="~/my_cinema/js/jquery-1.10.2.js"></script>
    <script src="~/my_cinema/js/bootstrap.js"></script>

</body>

</html>
