@model CinemaTicketBooking.Models.SuperAdminViewModels.MovieViewModel

@{
    ViewData["Title"] = "Book Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/seating/styles/flexiseats.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/seating/styles/font-awesome.min.css">
<script src="~/lib/seating/scripts/jquery-2.1.4.min.js"></script>
<script src="~/lib/seating/scripts/flexiseats.js"></script>

<div class="container-fluid" style="margin: 20px;">
    <div class="row">
        <div class="col-md-5">
            <img alt="Bootstrap Image Preview" class="img-rounded" src="@Url.Content(" ~/images/"+Model.ImageNavigation.ImagePath)" style="width: 90%; /* You can set the dimensions to whatever you want */
            height: 90%;
            object-fit: cover;" />
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="text-center font-weight-bold">
                        @Html.DisplayFor(model => model.MovieName)
                    </h1>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="well">
                        <div class="row" style="padding: 20px;">
                            <div class="col-md-7">
                                <label>Cinema: @Html.DisplayFor(model => model.Cinema.CinemaName)</label>
                                <label>Movie genre: @Html.DisplayFor(model => model.MovieGenre.MovieGenreName)</label>
                                <label>Release date: @Html.DisplayFor(model => model.ReleaseDate)</label>
                                <label>Movie length: @Html.DisplayFor(model => model.MovieLength) mins</label>
                                <label>Language: @ViewBag.ShowTime</label>
                                <label>Address: @Html.DisplayFor(model => model.Cinema.Adress.Country.CountryName) , @Html.DisplayFor(model => model.Cinema.Adress.City.CityName), @Html.DisplayFor(model => model.Cinema.Adress.StreetName)</label>
                            </div>
                        </div>
                        <p class="text-left">
                            @Html.DisplayFor(model => model.MovieDescription)
                        </p>
                        <button type="button" class="btn btn-block btn-success">
                            Book your ticket now
                        </button>
                        <a role="button" class="btn btn-block btn-primary" asp-controller="Home" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="legends" style="margin-top:250px;">
        <input id="legAvailable" type="checkbox" disabled />
        <label for="legAvailable"> Available</label>
        <input id="legAvailable" type="checkbox" data-status="notavailable" disabled />
        <label for="legAvailable"> Not Available</label>
        <input id="legBooked" type="checkbox" data-status="booked" checked disabled />
        <label for="legBooked"> Booked</label>
        <input id="legBooked" type="checkbox" checked disabled />
        <label for="legBooked"> Selected</label>
    </div>

    <div id="seats" style="margin-top:20px;">
    </div>

    <div class="methods">
        <button type="button" id="btnGetSelected">Get Selected</button>
    </div>
</div>


<script>

    var seats = $('#seats').flexiSeats({
        rows: 3,
        columns: 3,
        notavailable: ['0-0', '0-1', '0-2'],
        booked: ['1-0', '1-1', '1-2']
    });

    $('#btnGetSelected').click(function () {
        seats.getSelected();
        console.log(seats.getSelected());
    });

</script>


