@model IEnumerable<CinemaTicketBooking.Entities.TblReservations>

@{
    ViewData["Title"] = "My Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:70%; font-size:18px;">Movie</th>
                <th style="width:10%; font-size:18px;">Price (€)</th>
                <th style="width:5%; font-size:18px;">Quantity</th>
                <th style="width:10%; font-size:18px;" class="text-center">Subtotal</th>
                <th style="width:5%; font-size:18px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"><img src="@Url.Content("~/images/"+item.ReservedForMovie.ImageNavigation.ImagePath)" alt="Movie Picture" class="img-responsive" /></div>
                            <div class="col-md-5">
                                <strong>Movie name: </strong>@item.ReservedForMovie.MovieName<br />
                                <strong>Cinema name:</strong> @item.ReservedInCinema.CinemaName<br />
                                <strong>Reservation time:</strong> @item.ReservationTime<br />
                                <strong>Seat: @item.Seat</strong>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">@item.ReservedForMovie.PriceForAdults</td>
                    <td data-th="Quantity">1</td>
                    <td data-th="Subtotal" class="text-center">@item.ReservedForMovie.PriceForAdults €</td>
                    <td class="actions" data-th="">
                        <button value="@item.ReservationId" onclick="dosomething(this.value)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong>Total @ViewData["TotalPrice"] €</strong></td>
            </tr>
            <tr>
                <td><a href="/Home" class="btn btn-primary"><i class="fa fa-angle-left"></i> Back to movies list</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total @ViewData["TotalPrice"] €</strong></td>
                <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    function dosomething(val) {

        if (confirm("Are you sure to delete this reservation?")) {

            var reservationId = val;

            $.ajax({
                url: '/Home/RemoveReservation/',
                data: reservationId,
                contentType: 'application/json',
                type: 'POST',
                success: function (data) {
                    window.location.href = "/Home/MyBookings";

                }
            });
        }
        else {

            return;
        }

        console.log(val);
    }
</script>
