@model CinemaTicketBooking.Models.SuperAdminViewModels.CinemaViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Cinema</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CinemaName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CinemaName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CinemaDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CinemaDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedOnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedOnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdminUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adress.StreetName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CinemaId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <button asp-action="Index" role="button" class="btn btn-primary">Back to List</button>
    </form>
</div>
