@model CinemaTicketBooking.Models.SuperAdminViewModels.CinemaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cinema Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CinemaName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CinemaName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CinemaDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CinemaDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedOnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedOnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdminUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adress.StreetName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CinemaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
