@model IEnumerable<CinemaTicketBooking.Models.SuperAdminViewModels.CinemaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of all cinemas</h2>

<p>
    <a asp-action="Create">Add new cinema</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cinema Name
            </th>
            <th>
                Cinema Description
            </th>
            <th>
                Created on date
            </th>
            <th>
                Cinema Admin
            </th>
            <th>
                Address
            </th>
            <th>
                Created by user
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CinemaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CinemaDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress.StreetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByUser.UserName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CinemaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CinemaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CinemaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
