@model IEnumerable<CinemaTicketBooking.Models.SuperAdminViewModels.MovieViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<h2>Manage Films</h2>

<p>
    <a role="button" class="btn btn-success" asp-action="Create">Add new film</a>
</p>
<div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceForAdults)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceForChildrens)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cinema)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieGenre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.MovieName)
                    </td>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.MovieDescription)
                    </td>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.MovieLength)
                    </td>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.PriceForAdults)
                    </td>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.PriceForChildrens)
                    </td>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.Cinema.CinemaName)
                    </td>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.Language.LanguageName)
                    </td>
                    <td class="col-md-offset-1">
                        @Html.DisplayFor(modelItem => item.MovieGenre.MovieGenreName)
                    </td>
                    <td class="col-md-2">
                        <a role="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.MovieId">Edit</a>
                        <a role="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.MovieId">Details</a>
                        <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
