@model CinemaTicketBooking.Models.SuperAdminViewModels.MovieViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin: 20px;">
    <div class="row">
        <div class="col-md-5">
            <img alt="Bootstrap Image Preview" class="img-rounded" src="@Url.Content("~/images/"+Model.ImageNavigation.ImagePath)" style="width: 90%; /* You can set the dimensions to whatever you want */
    height: 90%;
    object-fit: cover;" />
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="text-center font-weight-bold">
                        @Html.DisplayFor(model => model.MovieName)
                    </h1>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="well">
                        <div class="row" style="padding: 20px;">
                            <div class="col-md-7">
                                <label>Cinema: @Html.DisplayFor(model => model.Cinema.CinemaName)</label>
                                <br />
                                <label>Movie genre: @Html.DisplayFor(model => model.MovieGenre.MovieGenreName)</label>
                                <br />
                                <label>Release date: @Html.DisplayFor(model => model.ReleaseDate)</label>
                                <br />
                                <label>Movie length: @Html.DisplayFor(model => model.MovieLength) mins</label>
                                <br />
                                <label>Language: @ViewBag.ShowTime</label>
                                <br />
                                <label>Address: @Html.DisplayFor(model => model.Cinema.Adress.Country.CountryName) , @Html.DisplayFor(model => model.Cinema.Adress.City.CityName), @Html.DisplayFor(model => model.Cinema.Adress.StreetName)</label>
                            </div>
                        </div>
                        <p class="text-left">
                            @Html.DisplayFor(model => model.MovieDescription)
                        </p>
                        <a asp-controller="Movies" asp-action="BookTicket" asp-route-id="@Model.MovieId" class="btn btn-block btn-success">
                           Book your ticket now
                        </a>
                        <a role="button" class="btn btn-block btn-primary" asp-controller="Home" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>